.customDatePickerWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 4px !important;
}
.label {
  color: #a4a4a4;
  font-size: 12px;
}
.p-datepicker-trigger {
  color: #1470af;
  background-color: transparent;
  border: unset;
}
.p-calendar {
  outline: unset !important;
}

.p-calendar:focus,
.p-calendar .p-inputtext:focus {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

.p-calendar:hover,
.p-calendar .p-inputtext:hover {
  border-color: inherit !important;
}

.p-placeholder {
  color: #999;
}

.p-calendar .p-inputtext {
  margin: 0;
  border: unset !important;
  box-shadow: none !important;
  outline: unset !important;
}
