.TableOfContainer {
  display: flex;
  max-width: 100%;
  height: 450px;
  padding: 20px;
  border-radius: 7px;
  margin: 10px;
  flex-direction: column;
  backdrop-filter: blur(1px);
  background-color: #ffffffa6;
  border: 1px solid #ffffff;
}
.tableContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}
.DeletePopupWrapper {
  width: 100%;
  height: 30px;
  justify-content: center;
  display: flex;
  font-size: 20px;
  color: #1470af;
}
.headerSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.headerRight {
  display: flex;
  width: 50%;
  gap: 3%;
  height: 30px;
  justify-content: end;
}
.popupCustomWrapper {
  width: 95%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.seeMoreWrapper {
  display: flex;
  justify-content: end;
  margin-top: 0px;
  padding: 0px;
  font-weight: 500;
  font-size: 16px;
  align-items: flex-end;

  span {
    color: #1470af !important;
    text-decoration: underline;
    cursor: pointer;
  }
}
.bodyContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
