.bubble {
  position: relative;
  padding: 12px 16px;
  border-radius: 18px;
  margin: 8px 0;
  max-width: 75%;
  word-wrap: break-word;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.feedbackContainer {
  display: flex;
  max-width: 100%;
  height: 500px;
  padding: 20px;
  border-radius: 7px;
  margin: 10px;
  flex-direction: column;
  backdrop-filter: blur(1px);
  background-color: #ffffffa6;
  border: 1px solid #ffffff;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.noRecords {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  color: black;
}
.conversationHeader {
  width: 100%;
  color: #0070c9;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 5px;
  place-items: center;
  margin-top: 10px;
}
.customwrapper {
  width: 95%;
}
.card {
  background: #fff;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: left;

  .title {
    color: #1470af;
    font-weight: 500;
    padding-bottom: 5px;
    font-size: 15px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    cursor: pointer;
    // height: 2.6em;
  }
  p {
    margin: 0;
    color: #333;
    font-size: 12px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    cursor: pointer;
    // height: 2.6em;
  }
}

.carouselWrapper {
  width: 100%;

  margin-top: 10px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .card {
      background: #fff;
      border-radius: 4px;
      padding: 10px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      text-align: left;
      cursor: pointer;

      .title {
        color: #1470af;
        font-weight: 500;
        padding-bottom: 5px;
        font-size: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      p {
        margin: 0;
        color: #333;
        font-size: 14px;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        cursor: pointer;
        height: 2.6em;
      }

      .commentCount {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: bold;
        font-size: 12px;
        margin-top: 10px;

        i {
          font-size: 18px !important;
          margin-right: 5px;
        }
      }
    }
  }

  .paginationDots {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 8px;

    .dot {
      width: 15px;
      height: 15px;
      background: #ccc;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.3s;

      &.active {
        background: #0070c9;
      }
    }
  }

  .nextBtn {
    display: none; // Optional: show for manual next
  }
}
.commentsWrapper {
  width: 100%;
  height: 87%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    //  background-color: #1470af;
    border-radius: 4px;
    border: none;
  }
  scrollbar-width: thin;
  scrollbar-color: #75717154 transparent;

  .currentuser {
    @extend .bubble;
    max-width: 75%;
    margin-left: auto;
    // border-radius: 4px;
    padding: 6px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0;
    background-color: #2b7eb7 !important;
    // border: 1px solid #b9dfc1;
    &::after {
      content: "";
      position: absolute;
      bottom: -7px;
      right: 0px;
      width: 20px;
      height: 25px;
      background-color: #2b7eb7;
      border-bottom-left-radius: 16px;
      z-index: 1;
    }
    .profileWrappper {
      display: flex;
      justify-content: flex-end;
      gap: 5px;
      align-items: center;
      span {
        font-size: 14px !important;
      }
    }
    span {
      font-size: 12px !important;
      color: #fff;
      line-height: 1;
      line-break: anywhere;
    }
    .dateTimeWrapper {
      padding-top: 5px;
      display: flex;
      justify-content: end;
      gap: 5px;
      align-items: center;
      span {
        font-size: 10px;
        color: grey;
      }
      i {
        font-size: 10px;
        color: grey;
      }
    }
  }
  .commentContentWrapper {
    display: flex;
    gap: 5px;
    align-items: center;
    text-align: left;
  }
}
.commentInputBar {
  width: 100%;
  height: 45px;
  display: flex;
  background-color: #fff;
  align-items: center;
  border-radius: 8px;
}
.commentsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.currentuserWrapper {
  .commentContentWrapper {
    display: flex;
    gap: 5px;
    align-items: center;
    text-align: left;
    padding: 0 5px 5px 5px;
    justify-content: flex-start;
  }
  .dateTimeWrapper {
    display: flex;
    justify-content: end;
    gap: 5px;
    align-items: center;
    margin-right: 0px;
    padding: 4px 0;
    div {
      font-size: 14px;
      font-weight: 500;
    }
    span {
      font-size: 10px;
      color: grey;
      position: relative;
      top: 2px;
      line-break: anywhere;
    }
    i {
      font-size: 10px;
      color: grey;
      position: relative;
      top: 3px;
    }
  }
}
.avatarWrapper {
  width: 7%;
  display: flex;
  align-items: end;
  padding-bottom: 18px;
}
.cardWrapper {
  width: 90%;
  .card {
    @extend .bubble;
    width: 100%;
    // border-radius: 4px;
    padding: 10px;
    // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    // box-shadow: none !important;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    text-align: left;
    margin-top: 5px;
    background: #ffffff;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -7px;
      width: 20px;
      height: 25px;
      background: #ffffff;
      // border: 8px solid transparent;
      // border-right-color: #ffffff;
      border-bottom-right-radius: 16px;
      z-index: -1;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    span {
      font-size: 12px !important;
      line-height: 1;
      line-break: anywhere;
    }
  }
  .dateTimeWrapper {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-right: 15px;
    padding: 0 !important;
    div {
      font-size: 12px;
      font-weight: 500;
      color: #545454;
    }
    span {
      font-size: 10px;
      color: grey;
      position: relative;
      top: 2px;
    }
    i {
      font-size: 10px;
      color: grey;
      position: relative;
      top: 3px;
    }
  }
}
