.feedbackContainer {
  display: flex;
  max-width: 100%;
  height: 500px;
  padding: 20px;
  border-radius: 7px;
  margin: 10px;
  flex-direction: column;
  backdrop-filter: blur(1px);
  background-color: #ffffffa6;
  border: 1px solid #ffffff;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.noRecords {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  color: black;
}
.conversationHeader {
  width: 100%;
  color: #0070c9;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 5px;
  place-items: center;
  margin-top: 10px;
}
.customwrapper {
  width: 95%;
}
.card {
  background: #fff;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: left;

  .title {
    color: #1470af;
    font-weight: 500;
    padding-bottom: 5px;
    font-size: 15px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    cursor: pointer;
    // height: 2.6em;
  }
  p {
    margin: 0;
    color: #333;
    font-size: 12px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    cursor: pointer;
    // height: 2.6em;
  }
}

.carouselWrapper {
  width: 100%;

  margin-top: 10px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .card {
      background: #fff;
      border-radius: 4px;
      padding: 10px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      text-align: left;
      cursor: pointer;

      .title {
        color: #1470af;
        font-weight: 500;
        padding-bottom: 5px;
        font-size: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      p {
        margin: 0;
        color: #333;
        font-size: 14px;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        cursor: pointer;
        height: 2.6em;
      }

      .commentCount {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: bold;
        font-size: 12px;
        margin-top: 10px;

        i {
          font-size: 18px !important;
          margin-right: 5px;
        }
      }
    }
  }

  .paginationDots {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 8px;

    .dot {
      width: 15px;
      height: 15px;
      background: #ccc;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.3s;

      &.active {
        background: #0070c9;
      }
    }
  }

  .nextBtn {
    display: none; // Optional: show for manual next
  }
}
.commentsWrapper {
  width: 100%;
  height: 87%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    //  background-color: #1470af;
    border-radius: 4px;
    border: none;
  }
  scrollbar-width: thin;
  scrollbar-color: #75717154 transparent;

  .currentuser {
    max-width: 75%;
    margin-left: auto;
    border-radius: 4px;
    padding: 16px;
    text-align: left;
    margin-top: 5px;
    background-color: #2b7eb7 !important;
    border: 1px solid #b9dfc1;
    .profileWrappper {
      display: flex;
      justify-content: flex-end;
      gap: 5px;
      align-items: center;
      span {
        font-size: 14px !important;
      }
    }
    span {
      font-size: 10px !important;
      color: #fff;
      line-height: 1;
    }
    .dateTimeWrapper {
      padding-top: 5px;
      display: flex;
      justify-content: end;
      gap: 5px;
      align-items: center;
      span {
        font-size: 10px;
        color: #fff;
      }
      i {
        font-size: 10px;
        color: #fff;
      }
    }
  }
  .card {
    max-width: 75%;
    border-radius: 4px;
    padding: 10px;
    // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-top: 5px;
    background: #ffffffb3;
    span {
      font-size: 10px !important;
      line-height: 1;
    }
  }
  .dateTimeWrapper {
    display: flex;
    justify-content: end;
    gap: 5px;
    align-items: center;
    padding-top: 5px;
    span {
      font-size: 10px;
      color: #1470af;
    }
    i {
      font-size: 10px;
      color: #1470af;
    }
  }
  .commentContentWrapper {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}
.commentInputBar {
  width: 100%;
  display: flex;
  background-color: #fff;
  align-items: center;
  border-radius: 8px;
}
.commentsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
