.newsContainer {
  display: flex;
  max-width: 100%;
  height: 460px;
  padding: 20px;
  border-radius: 7px;
  background-color: #eaeaea;
  margin: 10px;
  flex-direction: column;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.noRecords {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  color: black;
}
.newsWrapper {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  position: relative;
  overflow: auto;
  .newscardsContainer {
    display: flex;
    flex-direction: column;

    .card {
      display: flex;
      gap: 1%;
      padding: 8px;
      border-bottom: 1px solid #ccc;
      text-align: left;
      width: 100%;
      .imgWrapper {
        width: 30%;
        max-height: 110px;
      }
      .title {
        color: #1470af;
        font-weight: 500;
        padding-bottom: 5px;
        font-size: 17px;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
      p {
        margin: 0;
        color: #333;
        font-size: 14px;
        display: -webkit-box;
        overflow: hidden;
      }
    }
  }
}
