.panelContainer {
  padding: 1rem;
}

.sectionTitle {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.templateList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.templateCard {
  padding: 0.75rem;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f9f9f9;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.templateCardSelected {
  border: 2px solid #0078d4;
  background-color: #eaf4ff;
}

.previewContainer {
  flex: 2;
  height: 70vh;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.previewIframe {
  width: 100%;
  height: 100%;
  border: none;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 1rem;
}

.fileInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: #555;
}

.actionButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  gap: 1rem;
}
.newstemplateContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 84.75vh;
}
.card {
  background: #fff;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-top: 15px;
}
.title {
  color: #1470af;
  font-weight: 500;
  padding-bottom: 5px;
  font-size: 15px;
  display: flex;
  justify-content: center;
}
.iframeContainer {
  width: 100%;
  height: 94.5%;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  margin-top: 15px;
}
.buttonFooter {
  display: flex;
  justify-content: end;
  gap: 3%;
}
