.customMultiInputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  // row-gap: 2px;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 4px;
}

.label {
  color: #a4a4a4;
  font-size: 12px;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.textarea {
  width: 100%;
  min-height: 80px;
  font-size: 14px;
  resize: none;
  border: unset !important;
  outline: none !important;
  box-shadow: none !important;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
