.customMultiInputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}
.label {
  font-weight: 500;
  color: #333;
  font-size: 12px;
}

.textarea {
  width: 100%;
  min-height: 60px;
  font-size: 14px;
  resize: none;
}
