.meetingContainer {
  display: flex;
  max-width: 100%;
  min-height: 450px;
  padding: 20px;
  border-radius: 7px;
  margin: 10px;
  flex-direction: column;
  backdrop-filter: blur(1px);
  background-color: #ffffffa6;
  border: 2px solid #ffffff;
}
.linkWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 5px;
  place-items: center;
}
.customwrapper {
  width: 95%;
}
.custompickerwrapper {
  width: 95%;
  height: 40px;
}
.popupcontentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.noRecords {
  display: flex;
  justify-content: center;
  color: black;
  height: 450px;
  align-items: center;
}
.seeMoreWrapper {
  display: flex;
  justify-content: end;
  margin-top: 0px;
  padding: 0px;
  font-weight: 500;
  font-size: 16px;
  align-items: flex-end;

  span {
    color: #1470af !important;
    text-decoration: underline;
    cursor: pointer;
  }
}
.meetingCardsContainer {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  height: 450px;
  justify-content: space-between;
}
.meetingCard {
  display: flex;
  background: white;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 8px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  height: 65px;
}

.img {
  margin-right: 12px;
  display: flex;
  justify-content: center;
}

.details {
  position: relative;
  top: 5px;
  flex-grow: 1;
}

.type {
  font-weight: 500;
}

.date {
  position: relative;
  top: 5px;
  display: flex;
  font-size: 11px;
  color: #777;
  justify-self: end;
}
