#workbenchPageContent {
  max-width: 100%;
  margin: 0 auto;
}
[data-automation-id="CanvasLayout"] {
  background: url("../assets/background.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
[data-automation-id="contentScrollRegion"] {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #75717154 transparent;
}
.ms-HorizontalNavItem-label:focus {
  display: none !important;
}
.CanvasZone--noMargin {
  background: transparent !important;
}
.ms-CommandBar[role="menubar"] {
  display: none !important;
}
#CommentsWrapper {
  display: none !important;
}
[class^="titleSubcell"] {
  display: none !important;
}
.ms-HorizontalNavItem-Edit {
  display: none !important;
}
[class^="mainHeader"] {
  align-items: center !important;
  background: #fff;
}
[class^="actionsSubcell"] {
  display: none !important;
}
#HorizontalNav0EditLink {
  display: none !important;
}
[data-automation-id="HorizontalNav-edit"] {
  display: none !important;
}
[class^="siteNavLink-"]:focus {
  border: none !important;
}

.ms-HorizontalNavItem-link .is-selected {
  border: unset !important;
  background-color: #f2faff !important;
  color: #1470af !important;
  padding: 12px 24px;
}
.ms-HorizontalNavItem-link:focus {
  border: unset !important;
}
button[data-automationid="SiteHeaderFollowButton"] a {
  display: none !important;
}
span[data-automationid="SiteHeaderTitle"] a {
  display: none !important;
}
.CanvasZoneSectionContainer {
  max-width: 95% !important;
}
.CanvasZone--fullWidth .CanvasZoneSectionContainer {
  max-width: 100% !important;
}

.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;
  max-width: 100% !important;
}

.ControlZone {
  padding: 0 !important;
  margin: 0px !important;
  max-width: 100% !important;
}

.CanvasZone > div {
  /* max-width: 100% !important; */
  padding: 0 !important;
}

.spAppAndPropertyPanelContainer {
  padding-bottom: 10px !important;
}

.spAppAndPropertyPanelContainer {
  padding: 0px !important;
}

.p-dialog .p-dialog-header {
  border: unset !important;
  background-color: transparent !important;
}

.p-dialog .p-dialog-footer {
  padding: 10px 18px !important;
  border: unset !important;
  background-color: transparent !important;
}

.p-dialog .p-dialog-content {
  background-color: transparent !important;
  padding: 0.25rem !important;
}
.p-avatar.p-avatar-circle img {
  border-radius: 50%;
  width: fit-content;
}
.p-toast {
  opacity: 0.9;
}

.p-toast .p-toast-message {
  margin: 0 0 1rem 0;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.p-toast .p-toast-message .p-toast-message-content {
  padding: 1rem;
  border-width: 0 0 0 6px;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 0 0 1rem;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
  font-size: 2rem;
}

.p-toast
  .p-toast-message
  .p-toast-message-content
  .p-toast-message-icon.p-icon {
  width: 2rem;
  height: 2rem;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
  font-weight: 600;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  margin: 0.5rem 0 0 0;
}

.p-toast .p-toast-message .p-toast-icon-close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;

  background: rgba(0, 0, 0, 0);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.p-toast .p-toast-message .p-toast-icon-close:hover {
  background: rgba(255, 255, 255, 0.3);
}

.p-toast .p-toast-message .p-toast-icon-close:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.1rem #8db1e2;
}

.p-toast .p-toast-message.p-toast-message-info {
  background: #c9e7f9;
  border: 4px solid #3b82f6;
  border-width: 0 0 0 6px;
  color: #3b82f6;
}

.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
  color: #3b82f6;
}

.p-toast .p-toast-message.p-toast-message-success {
  background: #e7f6f0;
  border: 4px solid #3f9f4e;
  border-width: 0 0 0 6px;
  color: #3f9f4e;
}

.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  color: var(--Green);
}

.p-toast .p-toast-message.p-toast-message-warn {
  background: #e5eee6;
  border: 4px solid #cc8925;
  border-width: 0 0 0 6px;
  color: #cc8925;
}

.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
  color: #cc8925;
}

.p-toast .p-toast-message.p-toast-message-error {
  background: #faeae9;
  border: 4px solid #ff5757;
  border-width: 0 0 0 6px;
  color: #ff5757;
}

.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
  color: #ff5757;
}
.dataTablewrapper .custom-data-table .p-datatable-wrapper {
  overflow: hidden !important;
  height: 330px !important;
}
.dataTablewrapper .p-datatable-thead > tr > th:first-child {
  padding-left: 50px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dataTablewrapper .p-datatable-thead > tr > th:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tableContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #75717154 transparent;
}

/* site navigation & header hidden */
/* [data-automationid="SiteHeader"] {
  display: none !important;
} */
/* [data-automation-id="visibleContent"] {
  display: none !important;
} */
/* [role="listbox"] .ms-CommandBar {
  display: none !important;
} */
/* #sbcId {
  display: none !important;
} */
#spCommandBar {
  /* display: none !important; */
  min-height: 10px !important;
}
/* #sp-appBar {
  display: none !important;
} */
/* #CommentsWrapper {
  display: none !important;
} */
#spPageChromeAppDiv {
  /* background: #075bb71c !important; */
  background: #f4f4f4 !important;
}
.quickLinkcardsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  max-height: 270px;
  row-gap: 15px;
  margin: 16px 0;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.quickLinkcardsContainer::-webkit-scrollbar {
  display: none !important;
}
.commentsWrappercss::-webkit-scrollbar {
  display: none !important;
}
.search_input_wrapper .p-inputtext {
  width: 100%;
  border: none;
  outline: none;
  padding: 0px 5px;
  font-size: 14px;
  transition: none;
}
.search_input_wrapper .p-inputtext:focus {
  border: none !important;
  outline: none !important;
}
.search_input_wrapper .p-inputtext:enabled:focus {
  border: none !important;
  box-shadow: unset !important;
  outline: none !important;
}
.search_input_wrapper .pi {
  padding: 0 5px !important;
  font-size: 14px !important;
}
.search_input_wrapper .p-icon-field > .p-input-icon {
  margin-top: 0;
  top: 0;
}
.search_input_wrapper .p-icon-field-left > .p-input-icon:first-of-type {
  color: #495057;
  left: 0;
}
.p-dialog-header-close:focus-visible {
  display: none !important;
}
.p-datatable-emptymessage > td {
  border: none !important;
}
