.companyValueContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 7px;
  margin: 10px;
  row-gap: 35px;
  max-width: 100%;
  min-height: 521.35px;
  backdrop-filter: blur(1px);
  background-color: #ffffffa6;
  border: 1px solid #ffffff;
}
.valueCard {
  display: flex;
  align-items: center;
  gap: 3%;
  .title {
    font-size: 18px;
    color: #1470af;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  p {
    margin: 0;
    color: #444;
    font-size: 14px;
  }
}

.leftAlign {
  flex-direction: row;
}

.rightAlign {
  flex-direction: row-reverse;
  text-align: left;
  justify-content: space-between;
}

.icon {
  width: 75px;
  height: 75px;
  margin-top: 0.5rem;
}

.textWrapper {
  max-width: 80%;
}
