.innovaTeamContainer {
  display: flex;
  padding: 20px;
  border-radius: 7px;
  height: calc(93vh - 100px);
  background-color: #eaeaea;
  margin: 10px;
  flex-direction: column;
}
.headerSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.headerRight {
  display: flex;
  width: 50%;
  gap: 3%;
  height: 30px;
  justify-content: end;
}
.popupCustomWrapper {
  width: 95%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.seeMoreWrapper {
  display: flex;
  justify-content: end;
  margin-top: 0px;
  padding: 0px;
  font-weight: 500;
  font-size: 16px;
  align-items: flex-end;
  color: #1470af !important;
  text-decoration: underline;
  cursor: pointer;
}
.bodyContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.jobDescriptionWrapper {
  width: 100%;
  padding: "5px 0px";
  p {
    margin: 0;
    color: #333;
    font-size: 14px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    cursor: pointer;
    height: 2.6em;
  }
}
