.ms-SelectionZone {
  background: #fff !important;
  border-radius: 4px !important;
  border: 1px solid #ced4da !important;
  height: 30px;
  width: 100%;
}
.ms-BasePicker-text.text-73 {
  border: none;
}
.ms-BasePicker-text.text-77::after {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: -1px;
  border: none;
}
.ms-BasePicker-text.text-77 {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  min-width: 180px;
  height: 100%;
  border: none;
}
.ms-BasePicker-text.text-74 {
  border: none;
  height: 100%;
}
