.p-inputtext {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  font-size: 14px;
  padding: 0.5rem 0.75rem !important;
  border: unset !important;
  outline: none !important;
  box-shadow: none !important;
}
